<%- include('./partials/header') %>
    <h1><%= title %></h1>
    
    <h2>Are you collecting all of your royalties?</h2>
    
    <form action="/auth/google">
        <input type="submit" value="Let's Get Started" />
    </form>

    
<%- include('./partials/footer') %>
