<%- include('./partials/header') %>
    <h1><%= title %></h1>
    <p>Lets get started!</p>
    <div class="homelogin"><a href="/auth/google" class="login">Log In &nbsp;</a></div>
    
    
   
 <%- include('./partials/footer') %>
