<%- include('../partials/header') %>

<div class="container">


  
  <h2>Add a New Artist</h2>
    <form id="new-form" action="/artists" method="POST">
      <label>Artist Name:</label>
      <input type="text" name="artistname">
      <label>Email:</label>
        <input type="text" name="email">
      <label>Website:</label>
        <input type="text" name="website">
      <label>IPI #:</label>
        <input type="text" name="ipiNo">
        <input type="submit" value="Save">
    </form> 






  

  <%- include('../partials/footer') %>

</div>