<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Artist Database</title>
</head>
<body>
  <h1>Artist Database</h1>
  <table>
    <thead>
      <tr>
        <th>Artist Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>IPI #</th>
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(function(a) { %>
        <tr>
          <td><%= a.artistname %></td>
          <td><%= a.email %></td>
          <td><%= a.website %></td>
          <td><%= a.ipiNo %></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>
</html>